# Pandas Baby!!!!

### You know how it goes, You import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/regression_training.csv')

In [3]:
df.head()

   Hours_Study  Hours_Sleep  Extra_Classes  Marks
0            1            6              0     32
1            2            5              0     35
2            2            6              1     42
3            3            5              0     40
4            3            7              1     48