In [1]:
import sqlite3

In [ ]:
conn = sqlite3.connect("test.db")

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute(""" 

    CREATE TABLE student(
       st_id INTEGER, 
       st_name TEXT, 
       st_marks DECIMAL, 
       st_subjects TEXT
    
    )
""")

In [5]:
cursor.execute("select  name from sqlite_master where type='table';").fetchall()

[('student',)]

In [6]:
stud_data = [(1, "ali", 45, "chem"), (3, "ahmed", 56, "phy"), (5, "basit", 78, "math")]

In [7]:
stud_data

[(1, 'ali', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [8]:
cursor.executemany("INSERT INTO student (st_id,st_name, st_marks, st_subjects) VALUES (?, ? , ? ,?)", stud_data)

In [9]:
cursor.execute("select * from student").fetchall()

[(1, 'ali', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [10]:
cursor.execute("select * from student where st_marks > 53").fetchall()

[(3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [11]:
cursor.execute("select COUNT(*), AVG(st_marks) from student").fetchone()

(3, 59.666666666666664)

In [ ]:
cursor.execute("UPDATE student set st_name='irfan' where st_id=1;").fetchall()

[]

In [13]:
cursor.execute("select * from student;").fetchall()

[(1, 'irfan', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [16]:
cursor.execute("UPDATE student set st_name='amit' where st_id=1;")
cursor.execute("select * from student;").fetchall()

[(1, 'amit', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]